.pagination {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;

    a {
      display: inline-block;
      color: $orange;
      width: 45px;
      height: 42px;
      text-align: center;
      line-height: 38px;
      border: 1px solid $orange;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: $orange;
        transition: 0.3s;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange;
        color: #fff;
      }
    }
  }
}
